# Mac specific files
.DS_Store
.DS_Store?
Icon?

# Mac Thumbnails
._*

# Mac Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db

# Windows Folder config file
Desktop.ini

.classpath

.project

*.prefs
/target/

*.log
/logs/
.README.md.html
